version: "3.8"

networks:
  some-network:

services:
  centos:
    container_name: laravel-app
    build: .
    ports:
      - 80:80
    volumes:
      - ../src:/var/www/html
      - ./volumes/docker-tmp:/docker-tmp
    working_dir: /var/www/html
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    networks:
      - some-network
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=my-secret-pw
      - SUPERUSER_NAME=superuser
      - SUPERUSER_PASSWORD=superuser-pw
      - DEVELOP_DATABASE_NAME=laraveldev
      - DEVELOP_USER_NAME=devuser
      - DEVELOP_USER_PASSWORD=devuser-pw
    volumes:
      - ./volumes/mysql/datadir:/var/lib/mysql
      - ./volumes/mysql/initdb.d:/docker-entrypoint-initdb.d
      - ./volumes/mysql/initdata:/initdata
    networks:
      - some-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - mysql:mysql
    ports:
      - 8080:80
    environment:
      MYSQL_USERNAME: root
      MYSQL_ROOT_PASSWORD: my-secret-pw
      PMA_HOST: mysql
    networks:
      - some-network

